Implementazione/Controller/__pycache__/Inizio.cpython-313.pyc
Implementazione/Controller/__pycache__/Inizio.cpython-313.pyc
Implementazione/Controller/__pycache__/PrimaryController.cpython-313.pyc
Implementazione/Model/Gestore/__pycache__/GestoreUtenti.cpython-313.pyc
Implementazione/View/__pycache__/inizio.cpython-313.pyc
Implementazione/View/__pycache__/login.cpython-313.pyc
